.main {
  position: relative;
  width: 100vw;
  height: 100vh;
//   scroll-behavior: smooth;
}

.b-scroll {
  position: fixed;
  align-self: right;
  right: 3em;
  bottom: 3em;
  padding: 0.5em;
  border-radius: 20%;
  img {
    width: 2.5em;
    height: 2.5em;
  }  
}
.b-scroll:hover {
  transition: 0.1s ease-in-out;
  filter: invert(75%);
  padding: 0.3em;
  img {
    transition: 0.1s ease-in-out;
    width: 3em;
    height: 3em;
  }
  cursor: pointer;
}
.b-scroll:active {
  transition: 0.1s ease-in-out;
  filter: invert(50%);
}

@media screen and (orientation: portrait), screen and (max-width: 580px) {
  .b-scroll {
    right: 2em;
    bottom: 2em;
    img {
      height: 2em;
      width: 2em;
    }
  }
}