
@font-face {
    font-family: name;
    src: url(../../fonts/Mitr-Medium.ttf);        
}

span {
    font-size:7rem;
    /* font-size:4em; */
    font-family: name;
    /* font-weight: bold; */
    color: blueviolet;
}

.intro {
    display: "flex"; 
    flex-direction:"column"; 
    justify-content:"center";
}

image {
    height: 400;
    width: 400 
}