// ABOUT
.about {
    display: flex; 
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;    
    background: rgba(0, 38, 56, 0.4); 
    color: white;
    padding: 2em 4em;
    font-size: clamp(13px, 1.4vw, 16px);
    
    // ABOUT ME
    .about-box {
        display: flex;
        align-items: center;
        justify-content: center;    
        padding: 0em 3em;
        .profile {
            float: left;
            padding-top: 2em;
            img {
                width: auto;
                border-radius: 50%;
                float: left;
                shape-outside: circle();
                margin-right: 5em; 
                margin-bottom: 1.5em;
            }
            h1 {
                font-family: sectionTitle;
                text-align: start;
                font-size: 3em;
                margin-bottom: 0em;
            }
            p {
                text-align: justify;
                font-size: clamp(14px, 1.5vw, 16px);
            }
        }
        // .aboutme {
        //     display: flex; 
        //     flex-direction: column; 
        //     height: auto;
        //     width: 45vw;        
        //     align-items: center;
        //     justify-content: center;
        //     margin-left: 2em;
        //     margin-top: 1.5em;
        //     h1 {
        //         font-family: sectionTitle;
        //         font-size: 3em;
        //         text-align: center;
        //         margin: 0em;
        //     }
        //     p {
        //         text-align: center;
        //         padding: 1em 2em;   
        //         padding-bottom: 0em;
        //         font-size: clamp(14px, 1.5vw, 16px);
        //     }
        // }
    }
}

.my-skills {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    .skills {
        display: flex; 
        flex-direction: column;
        height: 90%; 
        width: 90vw;
        text-align: center; 
        padding: 1em;
        padding-top: 0em;
        .grid-parent {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(auto-fit, 7rem);
            gap: 2rem;
            margin: 2em 2em;
            margin-bottom: 1em;
            .grid-child {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 2em;
                .logo {
                    height: 5em;
                    width: 5em;
                    border-radius: 100%;
                    background: black;    
                    opacity: 0.75;
                    .skillName {     
                        text-align: center; 
                        opacity: 0;
                        margin-top: 0.5em;
                    }
                }    
                .logo:hover {
                    transition: 0.2s ease-in-out;
                    opacity: 1;
                    cursor: pointer;
                    .skillName {
                        transition: 0.25s ease-in-out;
                        opacity: 1;
                    }
                }
            }
        }
            
        h1 {
            font-family: sectionTitle;
            font-size: 2.2em;
        }
    }
}

.offtopic {
    background: rgba(#FF4F7B, 0.5); 
    // margin: 2em 0em;
    margin: 2em;
    h1 {
        font-family: sectionTitle;
        font-size: clamp(2.2em, 5vw, 3em);
        text-align: center;
        margin-top: 0em;
        margin-bottom: 0em;
        padding-top: 1em;
        color: white;
    }
    .grid-offtopic {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 2em;
        padding: 3em;
        .flip-box {
            perspective: 1000px; 
            width: 200px;
            // width: 20vw;
            height: 200px;
            width: clamp(100px, 18vw, 150px);
            height: clamp(100px, 18vw, 150px);
            // height: auto;
            .flip-box-inner {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.6s;
                transform-style: preserve-3d;
                .flip-box-front, .flip-box-back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;
                    border-radius: 10%;
                }
                .flip-box-front {
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    // padding: 1.25em;
                    padding: 15%;
                    // background: rgba(79, 123, 255, 0.15); 
                    background: rgba(white, 1);
                }
                .flip-box-back {
                    background: rgba(0, 0, 0, 0.5);
                    color: white;
                    transform: rotateY(180deg);
                    display: flex;
                    padding: 10%;
                    justify-content: center;
                    align-items: center;
                    font-size: clamp(10px, 1vw, 16px);
                    img {
                        position: absolute;
                        width: 80%;
                        z-index: -10;
                    }
                }
            }
            // img {
            //     width: 20vw;
            // }
        }
        .flip-box:hover .flip-box-inner {
            transform: rotateY(180deg);
            cursor: pointer;
        }
    }
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */


@media screen and (orientation: portrait), screen and (max-width: 580px)  {
    .about {
        flex-direction: column;
        // margin-top: 1em;
        // margin-bottom: 2em;
        .about-box {
            flex-direction: column;
            padding: 0em;
            width: 100%;
            // .aboutme {
            //     width: 90%;
            //     height: fit-content;
            //     margin: 0em;
            //     p {
            //         padding: 1em 0em;
            //         margin-bottom: 0em;
            //     }
            // }
            .profile {
                display: flex;
                flex-direction: column; 
                align-items: center;
                justify-content: center;
                margin-top: 1em;
                padding-top: 0em;
                img {
                    margin: 0em;
                    width: 100%;
                }
                h1 {
                    margin-top: 0.5em;
                }
                p {
                    text-align: center;
                    padding: 0em 1em;
                    padding-top: 1em;
                    margin-bottom: 0em;
                }
            }
        }
    }
    .my-skills {
        .skills {
            padding: 1em;
            width: 80vw;
            .grid-parent {
                margin: 1em 1em;
                margin-top: 2em;
                grid-template-columns: repeat(auto-fit, 6rem);
                column-gap: 1rem;
                row-gap: 1.5rem;
                .grid-child {
                    .logo {
                        width: 5em;
                        height: 5em;
                    }
                }
            }
        }
    }
    .offtopic {
        margin: 1em;
        h1 {
            padding-right: 1em;
            padding-left: 1em;
        }
        .grid-offtopic {
            gap: 2em;
            padding: 3em 1.5em;
            padding-top: 2em;
        }
    }
}