
.header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    font-size: 1.25em;
    .alink {
        text-decoration: none;
        color: black;
        font-size: 0.9em; 
        opacity: 0.85;         
    }
    .alink:hover {
        opacity: 1;
        cursor: pointer;
    }
    .header-menu {
        display: flex;
        margin-right: 1.5em;
        .logoNav {
            display: flex;
            align-items: center;
            .icon {
                height: 24px;
                padding: 0.5em;
                opacity: 0.75;
            }
            .icon:hover {
                transition: 0.2s;
                cursor: pointer;
                opacity: 1;
            }            
        }
        
    }
    .menu {
        display: none;
        // display: flex;
        align-items: center;
        margin-right: 1em;
        img {
            height: 32px;
            opacity: 0.75;
        }
        img:hover {
            transition: 0.2s ease-in-out;
            opacity: 1;
            cursor: pointer;
        }
    }
}

@media screen and (orientation: portrait), screen and (max-width: 580px) {
    .header {
        flex-direction: column;
        filter: invert(100);
        background: rgba(255, 217, 199, 0.35);
        padding: 0em;
        font-weight: bold;
        .header-menu {
            // display: none;
            flex-direction: column;
            text-align: center;
            padding-bottom: 1em;
            margin-right: 0em;
            width: 100vw;
            .logoNav {
                justify-content: center;
                .icon {
                    height: 32px;
                    padding: 0.5em 0.75em;
                }
            }
            p {
                margin: 1em 0em;
            }
            
        }
        .menu {
            display: inline;
            margin-right: 1.5em;
        }
        
        .alink:hover {
            transition: 0.15s ease-in-out;
            font-size: 1em;
            font-weight: bold;
        }
    }
}