.alink {
    text-decoration: none;
    color: black;
    font-size: 0.9em;          
}

.alink:hover {
    color: crimson;
    cursor: pointer;
}

.icon {
    height: 24px;
    padding: 0.4em;
    /* filter: opacity(50%);     */
    opacity: 0.7;
}

.icon:hover {
    transition: 0.2s;
    height: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    opacity: 1;
}
