
#header {
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;
    padding: 0em 3.5em;
    font-size: 1.25em;
    filter: invert(100);
    font-weight: bold;
    background: rgba(white, 0.75);
    .marca {
        font-weight: bold;
    }
    .alink-parent {
        margin: 1em 1.25em;
        text-align: center;
        text-decoration: none;
    }
    .alink {
        text-decoration: none;
        color: black;
        font-size: 0.9em; 
    }
    .alink:hover {
        opacity: 1;
        cursor: pointer;
    }
    #header-menu {
        display: flex;
        // margin-right: 1.5em;
        .logoNav {
            display: flex;
            align-items: center;
            gap: 1.2em;
            margin-left: 1em;
            // filter: invert(100);
            .icon {
                height: 24px;
                // padding: 0.5em;
                // opacity: 0.75;
            }
            .icon:hover {
                transition: 0.2s;
                cursor: pointer;
                opacity: 1;
            }            
        }
        
    }
    .menu {
        display: none;
        // display: flex;
        align-items: center;
        margin-right: 1em;
        img {
            height: 32px;
            // opacity: 0.75;
        }
        img:hover {
            transition: 0.2s ease-in-out;
            opacity: 1;
            cursor: pointer;
        }
    }
}

@media screen and (orientation: portrait), screen and (max-width: 580px) {
    #header {
        flex-direction: column;
        filter: invert(100);
        background: rgba(255, 255, 255, 0.75);
        // background: rgba(176, 132, 0, 0.35);
        padding: 0em;
        // padding-left: 1em;
        font-weight: bold;
        .marca {
            margin-left: 1.5em;
        }
        #header-menu {
            display: none;
            flex-direction: column;
            text-align: center;
            margin-right: 0em;
            width: 100vw;
            .logoNav {
                justify-content: center;
                width: 100%;
                margin-bottom: 1.5em;
                margin-left: 0em;
                gap: 0em;
                .icon {
                    height: 32px;
                    padding: 0.5em 0.75em;
                }
            }
            p {
                margin: 0em;
                padding: 0em 0em;
            }
            
        }
        .menu {
            display: inline;
            margin-right: 1.5em;
        }
        .alink-parent {
            margin: 0em;
            padding: 1.6em;
            transition: 0.15s ease-in-out;
        }
        .alink-parent:hover {
            transition: 0.15s ease-in-out;
            font-weight: bold;
            background: rgba(black, 0.35);
        }
    }
}