.alink {
    text-decoration: none;
    color: black;
    font-size: 0.9em;       
}

.alink:hover {
    color: crimson;
    cursor: pointer;
}

.icon {
    height: 24px;
    padding: 0.4em;    
}

.icon:hover {
    cursor: pointer;
}