
/*FONT MYNAME PARA TITULO*/
@font-face {
    font-family: myName;
    src: url(../../fonts/Mitr-Medium.ttf);
}
/*FONT SKILLS PARA SECCION DE SKILLS*/
@font-face {
    font-family: sectionTitle;
    src: url(../../fonts/Mitr-Medium.ttf);
}

// BUTTON 
button {
    transition: 0.2s ease-in-out;
    background-color: #DFB430;
    opacity: 0.75;
    border: none;
    border-radius: 10px;
    color: azure;
    font-weight: bold;
    // padding: 1em 2em;
    
    padding-left: clamp(0.75em, 1em, 2em);
    padding-right: clamp(0.75em, 1em, 2em);
    padding-top: clamp(0.75em, 0.8em, 1em);
    padding-bottom: clamp(0.75em, 0.8em, 1em);

    text-align: center;
    display: inline-block;
    outline: none;
    h4 {
        font-size: clamp(12px, 1.3vw, 16px);
        margin: 0px;
    }
}    
button:hover {
    transition: 0.2s ease-in-out;
    opacity: 1;
    cursor: pointer;
}
button:active {
    transition: 0.1s;
    opacity: 0.75;
}

// INTRO
.intro {
    display: flex; 
    width: 100vw;
    height: 85vh;    
    align-items: center;
    justify-content: center;
    padding-bottom: 20vh;
    padding-bottom: 5vh;
    // margin-top: 2em;
    text-align: center;
    
    // MY NAME
    h1 {
        font-size: clamp(16px, 2.5vw, 30px);
        span {
            font-size: clamp(50px, 9vw, 110px);
            font-family: myName;         
            color: #305bdf;
        }
    }
    p {
        font-size: clamp(14px, 2vw, 24px);
    }
}

// ABOUT
#about {
    display: flex; 
    width: 100vw;
    // height: 70vh;
    height: fit-content; 
    align-items: center;
    justify-content: center;    
    background: rgba(0, 38, 56, 0.45);
    color: white;
    padding: 5em 0em;
    font-size: clamp(13px, 1.4vw, 16px);
    // ABOUT ME
    .aboutme {
        display: flex; 
        flex-direction: column; 
        // height: 50vh;
        height: fit-content;
        width: 40vw;        
        align-items: center;
        justify-content: center;
        padding: 1em;
        // margin-right: 4em;
        h1 {
            font-family: sectionTitle;
            font-size: 3.2em;
            text-align: center;
            margin: 0;
        }
        p {
            text-align: center;
            padding: 1em 2em;
        }
    }
    .about-profile {
        margin-left: 4em;
        // margin-right: 4em;
        width: clamp(250px, 25%, 320px);
        img {
            border-radius: 100em;
            // background: rgba(#3BBF5C, 1);
            // background: rgba(#bd992f, 0.75);
            background: rgba(white, 0.75);
        }
    }
}

// PORTFOLIO SECTION
.portfo {
    display: flex; 
    width: 100vw;
    // height: 70vh; 
    height: fit-content;
    align-items: center;
    justify-content: center; 
    text-align: center;   
    font-size: clamp(13px, 1.4vw, 16px);
    padding: 2em 1em;
    .portfo-box {
        display: flex;
        width: 95%;
        // height: 90%;
        height: fit-content;
        justify-content: space-between; 
        background: rgba(79, 123, 255, 0.1);
        .arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
            ;
            img {
                height: 48px;
                opacity: 0.5;
            }
            img:hover {
                transition: 0.2s ease-in-out;
                opacity: 1;
                cursor: pointer;
            }
            img:active {
                transition: 0.1s;
                opacity: 0.7;
            }
        }
        .portfo-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 3em 0em;
            h1 {
                font-family: sectionTitle;
                font-size: 2.25em;
                margin: 0em;
            }
            a {
                margin-top: 2em;
            }
            .projects {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 75vw;
                height: 70%;
                .project-view {
                    display: flex;
                    height: auto;
                    justify-content: center;
                    // width: clamp(250px, 25%, 300px);
                    img {
                        width: clamp(250px, 25vw, 300px);
                        // width: 500px;
                        // background: black;
                    }
                }
                .content {
                    width: 60%;
                    text-align: center;
                    padding-left: 1em;
                    font-size: clamp(14px, 2vw, 24px);
                    p {
                        padding: 0em 1em;
                        font-size: clamp(14px, 1.5vw, 20px);
                    }
                }
            }
        }
    }
}

@media screen and (orientation: portrait), screen and (max-width: 580px)  {

    .intro {
        padding-bottom: 10vh;
    }
    
    #about {
        flex-direction: column-reverse;
        height: fit-content;
        padding: 3em 0em;
        .aboutme {
            width: 80vw;
            height: fit-content;
            p {
                padding: 1em;
            }
        }
        .about-profile {
            margin: 0em;
            width: 50%;
        }
    }
    .portfo {
        height: 100vh;
        .portfo-box {
            height: 100%;
            .arrow {
                img {
                    height: 32px;
                }
            }
            .portfo-content {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 2em 0em;
                width: 100vw;
                h1 {
                    margin-bottom: 0em;
                }
                .projects {
                    flex-direction: column;
                    height: 100%;
                    width: 60vw;
                    .project-view {
                        margin: 1em;
                        // width: clamp(220px, 40vw, 260px);
                        img {
                            // width: clamp(250px, 50%, 300px);
                            width: 100%;
                        }
                    }
                    .content {
                        margin-top: 1em;
                        width: fit-content;   
                        padding: 0em;
                    }
                }
                a {
                    margin: 1em 0em;
                }
            }
        }
        
    }
}