
@font-face {
    font-family: myName;
    src: url(../../fonts/Mitr-Medium.ttf);
}

span {
    font-size: 7rem;
    font-family: myName;    
    color: blueviolet;
}

.intro {
    display: flex; 
    width: 100vw;
    height: 80vh;    
    align-items: center;
    justify-content: center;
    padding-bottom: 20vh;
    text-align: center;
}

.skills {
    display: flex; 
    width: 100vw;
    height: 70vh; 
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.2)
}

.logo {
    /* height: 100px;
    width: 100px; */
    height: 7em;
    width: 7em;
}

button {
    transition: 0.2s ease-in-out;
    background-color: #4CAF50;
    border: none;
    border-radius: 100px;
    color: azure;
    font-weight: bold;
    padding: 1em 2em;
    text-align: center;
    display: inline-block;
    font-size: 1px;
    outline: none;
}

button:hover {
    transition: 0.2s ease-in-out;
    background-color: #3e8b40;
    cursor: pointer;
}