#contact {
    // display: flex;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, 32rem);
    // height: 30vh;
    height: fit-content;
    padding: 3em 0em;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: white;        
    font-size: 1em;
    .icons {
        width: 2.2em;
        height: 2.2em;
        padding: 0.2em;
        margin-top: 0.5em;
        filter: invert(100%);
        opacity: 0.75;
    }
    .icons:hover {
        transition: 0.2s;
        opacity: 1;
    }
    a {
        padding: 1em;
    }    
    // h1 {
    //     font-family: sectionTitle;
    // }
}

@media screen and (orientation: portrait), screen and (max-width: 580px)  {
    #contact {
        display: flex;
        flex-direction: column;
        // height: 65%;
        font-size: 14px;
        // gap: 1em;
    }
}
