@font-face {
  font-family: SCP-r;
  /* src: url(fonts/ConcertOne-Regular.ttf); */
  /* src: url(fonts/FredokaOne-Regular.ttf);   */
  /* src: url(fonts/SourceCodePro-Light.ttf); */
  /* src: url(fonts/SourceCodePro-Medium.ttf); */
  src: url(fonts/SourceCodePro-Regular.ttf);  
}

* {
  font-family: SCP-r;  
}


body {
  margin: 0;
  /* color: white; */
  /* font-weight:bold; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
  background: azure; 
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


